/* 
==============================================
CONTENT:	Rent-A-Cat
AUTHOR:		Nataly Garzon
==============================================

TABLE OF CONTENTS:

0. Reset, etc.
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset, etc. ================================= */
@import 'reset';

@import 'variables';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #e1a760;
	font-family: $main-font;
	height: 100%;

	.wrapper{
		background: $secondary-color;
		border-left: 5px solid $borders;
		border-right: 5px solid $borders;
		padding: 20px 2%;
	}
}

/* 2. Content ================================= */

header{
	background: $primary-color;
	padding: 35px 6% 35px 6%;
	@include flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid $borders;

	.logo{
		height: 100px;
		width: 110px;
		left: 155px;		
		border: 3px solid $borders;
	}

	h1{
		font-size: 70px;
		text-shadow: 2px 2px 2px $shadows;
		padding: 20px 0;
	}

	h2{
		font-family: $sub-font;
		font-size: 30px;
		text-align: center;
		text-shadow: 1px 1px 1px $shadows;
	}

	.burger{
		position: absolute;
		right: 25px;
		top: 35px;
		height: 60px;
		
		&:hover{
			background: none;
		}
	}

}

section{
	text-align: center;
	@include flex;
	flex-direction: column; /*bc it is naturally in a row*/
	flex: 1; /*now they all have the same widths*/
	height: auto;
	padding: 2em;
	margin: 0 .5em .8em;
	border-radius: .35em;
	color: #d8b9a5;

	h3{
		font-size: 30px;
		text-shadow: 1px 1px 1px $shadows;
		text-decoration: underline;
		padding-bottom: 20px;
	}

	h4{
		font-family: $sub-font;
		padding-bottom: 20px;
	}

	ul{
		align-self: center;
		padding: 20px 0;

		li{
			text-align: left;
			list-style-type: circle;
			font-family: $sub-font;
			margin-left: 1em;
		}	
	}

	div{
		font-size: 25px;
		padding-bottom: 30px;
	}
}

section.sect-3{
	border: 3px solid #7aa54e;

	h3{
		color: #7aa54e;

	}

	button{
		border-color: #7aa54e;
		color: #7aa54e;
		text-shadow: 1px 1px 1px #000, 2px 2px 2px green;
	}
}

button{
	margin-top: auto;
	font-family: 'Londrina Shadow', cursive;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px #000;
	height: 50px;
	width: 80%;
	align-self: center;
	background: $primary-color;
	border: 3px solid $borders;
	border-radius: 1em;

	&:focus{
		outline: 0;
	}	
}

.sect-1{
	background: url(../img/cat1.jpg) right no-repeat;
	background-size: cover; 	
}

.sect-2{
	background: url(../img/cat2.jpg) center no-repeat;
	background-size: cover;	
}

.sect-3{
	background: url(../img/cat4.jpg) left no-repeat;
	background-size: cover;	
}

//////////TABLET//////////////
@include bp-tablet {
	header{
		border-left: none;
		border-right: none;

		.burger:hover{
			background: $secondary-color;
		}
	}

	.wrapper{
		@include flex;
		flex-direction: column;
		width: 79%;
		margin: 0 10%;
	}

	button:hover{
			background: $secondary-color;
	}
}

//////////DESKTOP//////////////
@include bp-desktop {
	body{
		background: url(../img/bg.jpg) no-repeat center;
		background-size: 100% 100%;
		}

	header{
		padding: 35px 6% 35px 6%;

		.logo{
			width: 110px;
		}
	}

	.wrapper{
		flex-direction: row;

		section{
			padding: 1em;
			margin: 0 .5em .8em;
			border-radius: .35em;
			color: #d8b9a5;

			h3{
				font-size: 30px;
				text-shadow: 1px 1px 1px $shadows;
				text-decoration: underline;
				padding-bottom: 20px;
			}

			p{
				font-size: 20px;
			}

			div{
				font-family: $sub-font;
				font-size: 35px;
			}
		}
	}	
}













// .city-img{
//   max-width: 100%;/* Put this on your images so they don't get pixelated*/
//   width: 190px;
// }

// .main-header{
//   padding: .5em 0;
// }

// h1 a,
// ul a{
//   text-align: center;
//   display: block; /*a tags are inline by default*/
//   padding: 10px 15px;
// }
// /*You don't need flex box on mobile*/

// ul a{
//   text-transform: uppercase;
//   color: #3acec2;
//   font-size: .95em;
// }

// ul a:hover{
//   color: #125b84;
// }

// .hero, footer{
//   text-align: center;
// }

// .hero{
//   background: #3acec2;
//   color: #fff;
//   padding: 3.2em 0;
//   margin-bottom: 48px;
// }

// .col{
//   background: #edf4f7;
//   padding: 1em;
//   margin: 0 .5em .8em;
//   border-radius: .35em;
// }

// .button{
//   background: #3acec2;
//   padding: .625em 1.25em;
//   color: #fff;
//   border-radius: .35em;
// }

// .button:hover{
//   background: #122168;
// }

// footer{
//   background: #d9e4ea;
//   padding: 2em 0;
//   margin-top: 30px;
// }

// @media screen and (min-width: 768px){
//   .main-header,
//   .row, ul{
//     display: flex;
//   }

//   .main-header{
//     flex-direction: column;
//     align-items: center;
//   }

//   .col{
//     display: flex;
//     flex-direction: column; /*bc it is naturally in a row*/
//     flex: 1; /*now they all have the same widths*/
//   }

//   .col .button{
//     align-self: flex-start;
//     margin-top: auto; /*if you say auto in flexbox on a margin, whatever direction you are saying it is going to push all the margin to the direction that you told it to go. So in this case it's going to take up the rest of the space remaining at the top of the item.*/
//   }

//   .row{
//     margin: 0 9%;
//   }
// }

// @media screen and (min-width: 1024px){
//   .main-header{
//     flex-direction: row;
//     padding: 0 9%;
//   }  

//   ul{
//     margin-left: auto;
//   }

// }






