/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

@import 'variables';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	font-family: 'Londrina Shadow', cursive;
	height: 100vh;

	.wrapper{
		margin: 0 18.5%;
		background: #eab985;
		border-left: 5px solid $secondary-color;
		border-right: 5px solid $secondary-color;
		padding: 20px 2%;
		@include flex;
		height: 80%;
		width: 63%;
	}
}

/* 2. Content ================================= */

header{
	background: $primary-color;
	padding: 35px 18.5% 35px 18.5%;
	@include flex;
	border-top: 5px solid $secondary-color;
	border-bottom: 5px solid $secondary-color;

	img{
		position: absolute;
		top: 20px;
	}

	.logo{
		height: 90px;
		left: 155px;		
		border: 3px solid $secondary-color;
	}

	h1{
		font-size: 55px;
		margin: 0 5% 20px 0;
		text-shadow: 2px 2px 2px #4d4d4d;
		width: 100%;
	}

	h2{
		font-size: 30px;
		text-align: center;
		text-shadow: 1px 1px 1px #4d4d4d;
		
		height: 100%;
	}

	.burger{
		right: 155px;
		height: 60px;
	}
}

section{
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	border: 1px solid $secondary-color;
	height: 50%;
	padding: 4%;
}













